/**
 * Utility styles
 * Utilities are low-level structural and positional traits.
 * They can be applied directly to any element within a component.
 */

.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}

.u-cf:after {
  clear: both;
}

.u-centerText {
  text-align: center;
}

/**
 * Typography
 *
 * Base typographic styles.
 */

/* Setup Source Sans Pro in various weights. Main font for the site. */

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-black-webfont.eot");
  src: url("../fonts/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-black-webfont.woff") format("woff"), url("../fonts/sourcesanspro-black-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-black-webfont.svg#source_sans_problack") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-it-webfont.eot");
  src: url("../fonts/sourcesanspro-it-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-it-webfont.woff") format("woff"), url("../fonts/sourcesanspro-it-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/sourcesanspro-light-webfont.eot");
  src: url("../fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("../fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* Setup a subset of the Glyphicon icon font for scalable icon use */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-certificate:before {
  content: "\e124";
}

.glyphicon-flash:before {
  content: "\e162";
}

.glyphicon-map-marker:before {
  content: "\e062";
}

.glyphicon-user:before {
  content: "\e008";
}

.glyphicon-road:before {
  content: "\e024";
}

.glyphicon-usd:before {
  content: "\e148";
}

.glyphicon-ok-circle:before {
  content: "\e089";
}

html {
  font-size: 16px;
  /* Set reference size for rem units */
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fafafa;
  font-size: 1rem;
  line-height: 1.5;
  color: #555555;
}

p {
  font-size: 1rem;
}

p a {
  color: #999;
}

p a:hover {
  color: #3498DB;
  text-decoration: none;
  border-bottom: 1px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #333;
  line-height: 1.1;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

a,
.Link {
  color: #3498db;
  text-decoration: none;
  transition: 0.2s ease;
}

a:hover,
.Link:hover {
  color: #217dbb;
  cursor: pointer;
}

a:focus,
a:active,
.Link:focus,
.Link:active {
  outline: none;
}

/* Custom color scheme when highlighting text */

*::-moz-selection {
  background-color: #000;
  color: #FFF;
}

*::selection {
  background-color: #000;
  color: #FFF;
}

/*  Apply an improved box layout model to all elements */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fix vertical alignment of images */

img {
  vertical-align: middle;
}

/**
 * Form Component Styles
 */

.Form-header {
  text-align: center;
}

.Form-footer {
  text-align: center;
  padding: 1rem 0;
}

label {
  display: block;
  margin: 0;
  font-weight: bold;
}

.Form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #DDD;
}

.Form-input:focus {
  outline: none;
  border-color: #3498db;
}

.Form-radio {
  display: inline-block;
  padding-right: 2rem;
  position: relative;
  /* make stacking context for validationError position */
}

.Form-radio label.Form-validationError {
  position: absolute;
  top: 1.2em;
  left: 0;
  width: 21em;
}

.Form-radioLabel {
  margin-left: 0.5rem;
}

.Form-validationError {
  color: #d7514a;
  font-weight: bold;
}

.Form-validationError:focus {
  border-color: #d7514a;
}

.Form-input.Form-validationError {
  color: inherit;
  font-weight: normal;
}

th,
td {
  padding: 0.5rem 0;
  text-align: left;
}

th + th,
td + td,
th + td {
  padding-left: 1rem;
}

/**
 * Button Component Styles
 *
 * Used for any important user action. Default style is for use on light
 * background. Use the --alternate modifier when using on dark background.
 */

.Button,
.Button--alternate {
  background-color: #3498db;
  color: #FEFEFE;
  padding: 0 1.5rem;
  line-height: 2.5rem;
  height: 2.5rem;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.91rem;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  outline: 0;
  text-decoration: none;
  -ms-box-shadow: inset 0 -2px 0 0 #2e88c4;
  -o-box-shadow: inset 0 -2px 0 0 #2e88c4;
  box-shadow: inset 0 -2px 0 0 #2E88C4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  transition: all 300ms ease;
}

.Button:hover,
.Button--alternate:hover {
  background-color: #258cd1;
  color: #fff;
  text-decoration: none;
}

.Button--alternate {
  background-color: white;
  color: #3498db;
  -ms-box-shadow: inset 0 -2px 0 0 #eee;
  -o-box-shadow: inset 0 -2px 0 0 #eee;
  box-shadow: inset 0 -2px 0 0 #eee;
}

.Button--alternate:hover {
  background-color: #f7f7f7;
  color: #3498db;
}

a.Button,
a.Button--alternate {
  text-shadow: none;
}

a.Button:hover,
a.Button--alternate:hover {
  border-bottom: none;
  color: auto;
}

/**
 * Slat component
 * A slat is a reusable block-level component for vertical stacking.
 */

.Slat {
  padding: 1rem 0;
}

/**
 * Section Component
 */

section,
.Section {
  padding: 6rem 0;
}

.Section-header {
  text-align: center;
  margin-bottom: 6rem;
}

.Section-header h1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 0;
}

.Section-header p {
  font-size: 1.5rem;
  color: #999;
}

.Section--highlight {
  background-color: #254250;
  background-image: linear-gradient(-205deg, #416d85, #192d38);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #bcd4d8 !important;
  text-shadow: 0 1px 2px #192D38;
}

.Section--highlight h2,
.Section--highlight h1 {
  color: white;
}

.Section--highlight p {
  color: #bcd4d8;
}

.Section--alternate {
  background-color: #F8F8F8;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
}

/**
 * Navigation Component Styles
 *
 * The Navigation component is the main navigation for the site. When using the
 * Navigation on a dark / photo background use the --banner modifier.
 */

.Navigation {
  float: right;
  margin: 33px 0;
}

.Navigation-item {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.Navigation-item.is-current .Navigation-link {
  color: #3498db;
}

.Navigation-item.is-current .Navigation-link:hover {
  border-bottom: none;
}

.Navigation-link {
  color: #999;
}

.Navigation-link:hover {
  color: #3498db;
  text-decoration: none;
  border-bottom: 1px solid;
}

.Navigation--banner .Navigation-link {
  color: #fff;
}

.Navigation--banner .Navigation-link:hover {
  color: #fff;
  border-bottom-color: #eee;
}

/**
 * Logo Component Styles
 */

.Logo {
  position: absolute;
}

.Logo h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: -1px;
  line-height: 1;
}

.Logo a:hover {
  text-decoration: none;
}

.Logo--banner h1 {
  color: #fff;
}

.Logo--banner span {
  color: #DFE7F4;
}

.Logo-driving,
.Logo-school {
  color: #bbb;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  letter-spacing: 0.9px;
  left: -1px;
}

.Logo-driving {
  top: -19px;
}

.Logo-school {
  top: -40px;
  letter-spacing: 0.8px;
}

/**
 * List Component Styles
 */

.List {
  list-style: none;
  padding-left: 0;
}

.List-item {
  margin-top: 2rem;
}

.List-number {
  width: 36px;
  height: 36px;
  background: #CCC;
  color: #FFF;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  line-height: 1.3;
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 1rem;
}

/**
 * Avatar Component Styles
 */

.Avatar {
  text-align: center;
  transition: all 300ms ease;
  margin-bottom: 1.5rem;
}

.Avatar:hover {
  margin-top: -5px;
}

.Avatar--thierry .Avatar-image {
  background-image: url('../images/avatar-thierry.jpg');
}

.Avatar--jenny .Avatar-image {
  background-image: url('../images/avatar-jenny.jpg');
}

.Avatar--boris .Avatar-image {
  background-image: url('../images/avatar-boris.jpg');
}

.Avatar--trisha .Avatar-image {
  background-image: url('../images/avatar-trisha.jpg');
}

.Avatar--sergey .Avatar-image {
  background-image: url('../images/avatar-sergey.jpg');
}

.Avatar--aaron .Avatar-image {
  background-image: url('../images/avatar-aaron.jpg');
}

.Avatar--steve .Avatar-image {
  background-image: url('../images/avatar-steve.jpg');
}

.Avatar--james .Avatar-image {
  background-image: url('../images/avatar-james.jpg');
}

.Avatar-image {
  width: 128px;
  height: 128px;
  transition: all 300ms ease;
  display: inline-block;
}

.Avatar-name {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 0.5rem;
  color: #fff;
  position: relative;
  top: -46px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Avatar-link {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 64px;
  overflow: hidden;
  border: 4px solid #FFF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
  transition: all 300ms ease;
}

.Avatar-link:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2), 0 2px 1px rgba(0, 0, 0, 0.1);
  top: -2px;
}

.Avatar-link:hover .Avatar-image {
  box-shadow: inset 0 0 60px 0px rgba(0, 0, 0, 0.6);
}

/**
 * FeatureList Component Styles
 *
 * A FeatureList is used for enumerating features in a visually pronounced way.
 * It is used, most notably in the 'What We Offer' section on the homepage.
 */

.FeatureList {
  padding-left: 0;
}

.FeatureList-item {
  color: #FFF;
  list-style: none;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
}

.FeatureList-icon {
  color: #fff;
  font-size: 2.1rem;
  position: absolute;
  left: 0;
}

.FeatureList-heading {
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.FeatureList-content {
  color: #bcd4d8;
}

/**
 * Profile Component
 *
 * This component is used for displaying the profile of an instructor.
 */

.Profile {
  background: #fff;
  max-width: 460px;
  margin: 0 auto 2rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 2rem 0;
  border: 1px solid #eee;
  border-bottom-color: #e0e0e0;
  text-align: center;
  overflow: hidden;
}

.Profile-name {
  margin-bottom: 0;
}

.Profile-avatar {
  border-radius: 64px;
}

.Profile-bio {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Profile-map {
  max-width: 100%;
}

.Profile-statsList {
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

.Profile-reviews {
  display: none;
}

.Profile-reviews .Review:first-of-type {
  border-top: 1px solid #eee;
}

.Profile-reviews .Slat {
  opacity: 0;
}

/**
 * Review Component
 * Use this component to display a user review with a star rating
 */

.Review {
  border-bottom: 1px solid #eee;
}

.Review-location {
  color: #999;
}

.Review-rating {
  color: #E1E1E1;
}

.Review-star {
  color: #FFC10D;
}

.Review-content {
  font-style: italic;
  padding: 0 1rem 0.5rem;
}

/**
 * Marquee Component
 * Use this component for large marquee content. Marquee components are also
 * known as hero units / jumbotron.
 */

.Marquee {
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 8.5rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

.Marquee-heading {
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
}

.Marquee-subheading {
  font-size: 1.9rem;
}

/**
 * Locations Component
 * This component is used to display a list of serviced locations beside a map.
 */

.Locations {
  /* No top-level component styles as yet */
}

.Locations-list {
  list-style: none;
  font-size: 1.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.Locations-item {
  padding: 0.25rem 0;
}

.Locations-icon {
  font-size: 2rem;
  position: relative;
  top: 0.5rem;
  padding-right: 0.2rem;
}

.Location-map {
  border-radius: 4px;
  overflow: hidden;
}

/**
 * Inset Style
 */

.Inset {
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin-bottom: 4rem;
}

/**
 * CallToAction Component
 */

.CallToAction {
  margin: 2rem 0;
}

.CallToAction--secondary {
  display: block;
  font-style: italic;
  margin-top: 0.5rem;
}

/**
 * Package Component
 * Used to display various packages, their prices, features etc. in columns
 */

.Package {
  text-align: center;
}

.Package-heading {
  font-weight: 300;
}

.Package--left {
  background-color: #fff;
  border: 1px solid #ddd;
}

.Package--center {
  background-color: #439FE0;
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}

.Package--center .Package-heading {
  color: #fff;
}

.Package--center .Package-item {
  color: #fff;
}

.Package--right {
  background-color: #2A80B9;
  color: #fff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}

.Package--right .Package-heading {
  color: #fff;
}

.Package--right .Package-item {
  color: #fff;
}

.Package--left {
  border-radius: .25rem 0 0 .25rem;
  margin: 10px 0;
  border-right: 0px;
}

.Package--center {
  border-radius: .25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.08);
}

.Package--right {
  border-radius: 0 .25rem .25rem 0;
  margin: 10px 0;
}

.Package-price {
  font-size: 3rem;
  font-weight: 600;
  position: relative;
}

.Package-priceSymbol {
  font-size: 2rem;
  position: absolute;
  left: -1rem;
  top: 0.6rem;
}

.Package-featureList {
  padding: 0;
  list-style: none;
}

.Package-item {
  padding: 0.5rem 0;
}

.Package-cta {
  margin: 2.5rem 0;
}

/* Custom page header */

.Banner {
  background-image: url('../images/marquee-bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 627px;
  border-bottom: 1px solid #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0;
}

/**
 * Footer Module Styles
 */

.Footer {
  background-color: #202020;
  border-top: 1px solid #fff;
  margin-top: 6rem;
  padding: 6rem 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.95rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.Footer-listHeading {
  color: #626262;
  font-size: 0.9rem;
}

.Footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.Footer-listItem {
  padding-top: 0.25rem;
}

.Footer-link {
  color: #a2a2a2;
}

.Footer-link:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.Footer-copyright {
  border-top: 1px solid #353535;
  margin-top: 6rem;
  padding-top: 1.5rem;
  font-size: 0.9rem;
}

/**
 * Use a Container component as a wrapper to center page content.
 * Containers are micro clearfixed so will contain their floats correctly.
 */

.Container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.Container:before,
.Container:after {
  content: " ";
  display: table;
}

.Container:after {
  clear: both;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .Container {
    max-width: 730px;
  }
}

/**
 * Use a Row component to enapsulate Col components.
 * Rows are micro clearfixed so will contain their floats correctly.
 */

.Row {
  margin-left: -15px;
  margin-right: -15px;
}

.Row:before,
.Row:after {
  content: " ";
  display: table;
}

.Row:after {
  clear: both;
}

/**
 * Col Component
 * Use Cols to create columns. Columns are intended to be nested inside Row
 * components. Columns will only be in effect on portrait tablets and wider.
 * Otherwise they will stack atop one another.
 */

.Col--3,
.Col--4,
.Col--6,
.Col--8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .Col--3,
  .Col--4,
  .Col--6,
  .Col--8 {
    float: left;
  }

  .Col--3 {
    width: 25%;
  }

  .Col--4 {
    width: 33.33333%;
  }

  .Col--6 {
    width: 50%;
  }

  .Col--8 {
    width: 66.66667%;
  }

  .Col--offset-2 {
    margin-left: 16.66667%;
  }
}
